### Laravel template
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea
_ide_helper.php
*.sublime-project
*.sublime-workspace
coverage.xml
sonar-project.properties
sonar-scanner-cli-4.5.0.2216-linux.zip
.scannerwork
sonar-scanner-4.5.0.2216-linux
